/ProyectoFinalEstadistica/nbproject/private/
/JavaApplication6/nbproject/private/
/Proyecto_Final_Estadistica/nbproject/private/
/Proyecto_Final_Estadistica/build/
/JavaApplication43/nbproject/private/
/sql/nbproject/private/
/sql/build/
/JavaSQL/nbproject/private/
/JavaSQL/build/
/SQLinterfaz/nbproject/private/
/javaMysql/nbproject/private/
/javaMysql/build/
/yorch_codigo/nbproject/private/
/yorch_codigo/build/
/TEOREMA_9/nbproject/private/
/TEOREMA_9/build/
